@tailwind components;

@layer components {
    .Header {
        @apply p-12 bg-paleCyan font-opensans
        md:p-6
    }

    header {
        @apply flex justify-between items-center
    }

    header button {
        @apply px-12 py-3 bg-white font-popins font-bold rounded-3xl shadow-lg
        md:p-4 md:py-1 md:text-[12px]
    }

    footer {
        @apply flex justify-around items-center text-left p-12 gap-12
        md:flex-col md:gap-6 md:p-0 md:py-16 md:w-80
    }

    footer>div:first-child {
        @apply w-1/2 flex flex-col gap-12
        md:w-full md:text-center md:justify-center md:items-center
    }

    footer>div:first-child h1 {
        @apply text-6xl font-bold
        md:text-3xl
    }

    footer>div:first-child h4 {
        @apply text-2xl font-popins
        md:text-[16px] md:text-center md:leading-6 

    }

    footer>div:first-child button {
        @apply text-xl font-popins bg-pinkbg w-1/2 py-4 rounded-3xl font-bold text-white capitalize
        hover:bg-pink-300
        md:w-56 md:text-sm  md:py-3 
    }
}